<div class="bs-docs-header" id="content">
	<div class="container">
		<h1>Getting started</h1>
		<p>An overview of Jeffy, how to download and use, basic templates and examples, and more.</p>
	</div>
</div>

<div class="container bs-docs-container">
	<div class="row">
		<div class="col-md-9" role="main">
			<div class="bs-docs-section">
				<h1 id="download" class="page-header">Download</h1>
				<p class="lead">Jeffy (currently v0.2.0) has a few easy ways to quickly get started, each one appealing to a different skill level and use case. Read through to see what suits your particular needs.</p>
				<div class="row bs-downloads">
					<div class="col-sm-4">
						<h3 id="download-bootstrap">Cygwin</h3>
						<p>Run <a href="https://www.cygwin.com/setup-x86_64.exe">setup-x86_64.exe</a> any time you want to update or install a Cygwin package for 64-bit windows. The <a href="https://www.cygwin.com/setup-x86_64.exe.sig">signature</a> for <a href="https://www.cygwin.com/setup-x86_64.exe">setup-x86_64.exe</a> can be used to verify the validity of this binary using <a href="https://www.cygwin.com/key/pubring.asc">this</a> public key.</p>
						<p><a href="https://www.cygwin.com/setup-x86_64.exe" class="btn btn-lg btn-outline" role="button">Download Cygwin</a></p>
					</div>
					<div class="col-sm-4">
						<h3 id="download-source">Git SCM</h3>
						<p>Git for Windows focuses on offering a lightweight, native set of tools that bring the full feature set of the <a href="http://git-scm.com" target="_blank">Git SCM</a> to Windows while providing appropriate user interfaces for experienced Git users and novices alike.</p>
						<p><a href="https://nodejs.org" class="btn btn-lg btn-outline" role="button">Download Git SCM</a></p>
					</div>
					<div class="col-sm-4">
						<h3 id="download-source">Node.js</h3>
						<p>Node.js is a platform built on <a href="http://code.google.com/p/v8/">Chrome's JavaScript runtime</a> for easily building fast, scalable network applications. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient.</p>
						<p><a href="https://nodejs.org" class="btn btn-lg btn-outline" role="button">Download Node.js</a></p>
					</div>
				</div>
				<h3 id="download-cdn">Jeffy Package</h3>
				<p>The folks over at <a href="http://www.maxcdn.com/">GCC</a> graciously provide a package for Jeffy's dependencies. Just use this <a href="https://github.com">Jeffy Package</a> link.</p>
				<div class="highlight">
					<pre><code class="bash">$ curl https://github.com/braungoodson/jeffy/package</code></pre>
				</div>
				<h3 id="download-bower">Install with git</h3>
				<p>Clone and install Jeffy's reopository using <a href="http://github.com">git</a>.</p>
				<div class="highlight">
					<pre><code class="bash"><span class="nv">$ </span>git clone https://github.com/braungoodson/jeffy</code></pre>
				</div>
			</div>
			<div class="bs-docs-section">
				<h1 id="whats-included" class="page-header">That's it!</h1>
				<p class="lead">Jeffy is easy to use, easy to follow, and provides a platform for rapid front-end solutions.</p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top" role="complementary">
				<ul class="nav bs-docs-sidenav">
					<li class="active"><a href="#download">Download</a></li>
					<li><a href="#whats-included">That's it</a></li>
				</ul>
				<a class="back-to-top" href="#top">Back to top</a>
			</div>
		</div>
	</div>
</div>