<main class="bs-docs-masthead" id="content" role="main">
  <div class="container">
    <span class="bs-docs-booticon bs-docs-booticon-lg bs-docs-booticon-outline">J</span>
    <p class="lead">Jeffy is an aggregate of the most popular industrial workflows, patterns, and frameworks for developing GCC front-end products.</p>
    <p class="lead">
      <a href="getting-started#download" class="btn btn-outline-inverse btn-lg">Download Jeffy</a>
    </p>
    <p class="version">Currently v0.2.0</p>



  <div id="carbonads-container">
    <div class="carbonad">
      <div id="azcarbon">
        <img src="assets/images/gcc-logo.png" />
        <span class="carbonad-text">
          <a href="http://linkedin.com/grandcirclecorporation">Work for GCC!</a>
          If you want your workdays to be exciting, challenging, and rewarding, consider a career at Grand Circle Corporation (GCC).
        </span>
      </div>
    </div>
  </div>



  </div>
</main>
<div class="bs-docs-featurette" style="padding-bottom:0px;border-bottom:0px;">
  <div class="container">
    <h2 class="bs-docs-featurette-title">Developed for the GCC Web Development Team</h2>
    <p class="lead">Jeffy makes GCC front-end web development faster and easier. Jeffy is open source. It's hosted, developed, and maintained on GitHub.</p>
    <a href="https://github.com/braungoodson/jeffy" class="btn btn-outline btn-lg">View the GitHub project</a>
  </div>
</div>